/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */

@media only screen and (max-width: 479px) {
	/*-- Logo ----------------------------------------------------- */
	.logo h1.txt-logo{font-size:98px; line-height:103px;}
		.logo h1.txt-logo a{letter-spacing:-4px;}
	.logo img{width:250px; height:auto;}
	/*-- Slider --------------------------------------------------- */
	.flexslider{}
	.flex-direction-nav{bottom:15px;}
	/*-- Post ------------------------------------------------------*/
	.pagenavi .first-page, .pagenavi .prev-page, .pagenavi .next-page, .pagenavi .last-page{font:0/0 a; color:transparent;}
		.pagenavi .first-page:before, .pagenavi .prev-page:before, .pagenavi .next-page:before, .pagenavi .last-page:before{
			font:italic 13px/18px Arial, Helvetica, sans-serif;
			color:#181818;
			padding:0 2px;
		}
		.pagenavi .first-page:before{content:'«';}
		.pagenavi .prev-page:before{content:'‹';}
		.pagenavi .next-page:before{content:'›';}
		.pagenavi .last-page:before{content:'»';}
	/*-- Portfolio ------------------------------------------------ */
	.portfolio .img-box{height:189px;}
	.one_column .portfolio .img-box, .two_columns .portfolio .img-box{height:144px; width:282px;}
	.four_columns .portfolio li{margin:0 0 30px 0; width:100%; float:none;}
	.four_columns .portfolio .img-box{height:205px;}
	
	/*-- Testimonials ------------------------------------------------ */
	.page-template-page-testi-php .featured-thumbnail{float:none; margin-right:0;}
		.page-template-page-testi-php .featured-thumbnail img{width:auto;}
	
	/*-- Autor ----------------------------------------------------*/
	#recent-author-posts .featured-thumbnail{margin:0 0 20px 0 !important; float:none;}
	
	/*-- 404 ----------------------------------------------------------------------------------------------- */
	.error404-num {font-size:175px;}
	
	/*-- Team ----------------------------------------------------------------------------------------------- */
	.single-team .featured-thumbnail{float:none; margin:0 0 20px 0;}
		.single-team .featured-thumbnail img{width:auto;}
	
	/*-- Blog ----------------------------------------------------*/
	.blog #content .featured-thumbnail, .single #content .featured-thumbnail{float:none; margin-right:0;}
	.video iframe{max-height:200px;}
	.commentlist ul.children {padding:0 0 0 20px;}
	.related-posts li{width:130px;}
	
	/*-- Shorcodes ------------------------------------------------*/
	/*Audio*/
	.audiojs .scrubber {width: 134px;}
	/*Popular posts*/
	.popular_posts li{
		margin:0 0 20px 0;
		float:none;
		width:100%;
	}
		.popular_posts li .img-box{display:inline-block !important;}
	
	/*-- Widgets ---------------------------------------------------*/
	/* Post Cycle */
	.slides_container .item, .slides_container .testi_item, .slides_container .cycle_item{width:300px;}
	
	/*-- Forms ------------------------------------------------ */
	#commentform input[type="text"], #commentform textarea,
	.wpcf7-form input[type="text"], .wpcf7-form textarea {width:282px;}
	.commentlist #commentform input[type="text"], .commentlist #commentform textarea{width:238px;}
}